<?xml version="1.0"?>
<model>
  <name>REEM</name>
  <version>0.1.0</version>
  <author>
   <name>Hilario Tomé</name>
   <email>hilario.tome@pal-robotics.com</email>
  </author>
  <sdf>model.urdf</sdf>
  <description>
    REEM robot model including an checkerboard marker in the right hand
  </description>
</model>
