<?xml version="1.0"?>
<model>
  <name>REEM arm</name>
  <version>0.1.0</version>
  <author>
   <name>Adolfo Rodriguez Tsouroukdissian</name>
   <email>adolfo.rodriguez@pal-robotics.com</email>
  </author>
  <sdf>reem_arm.urdf</sdf>
  <description>
    REEM 7 dof arm model.
  </description>
</model>
