<?xml version="1.0" ?>
<database>
  <name>REEM database</name>
  <license>Creative Commons Attribution 3.0 Unported</license>
  <models>
    <uri>file://reem_description</uri>
    <uri>file://reem_right_hand_marker_description</uri>
    <uri>file://reem_rgbd_description</uri>
    <uri>file://reem_head_description</uri>
    <uri>file://reem_arm_description</uri>
    <uri>file://reem_upper_body_description</uri>
    <uri>file://table_1m</uri>
    <uri>file://pringles</uri>
    <uri>file://pringles_with_marker</uri>
    <uri>file://marker26_8cm</uri>
  </models>
</database>
