<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="state" default="localization"/>

  <arg name="planner"        default="base"/>
  <arg name="global_planner" default="global_planner"/>
  <arg name="local_planner"  default="pal"/>
  <arg name="localization"   default="amcl"/>
  <arg name="mapping"        default="karto"/>
  <arg name="octomap"        default="false"/>
  <arg name="public_sim"     default="false"/>
  <arg name="disable_vo"     default="false"/>
  <arg name="rgbd_sensors"   default="false"/>
  <arg name="robot_namespace"      default=""/>
  <arg name="multiple"       default="false"/>
  <arg name="config_base_path" default="$(find pal_navigation_cfg_tiago)"/>
  <arg name="laser_model"    default="sick-571"/>

  <arg name="map" default="$(env HOME)/.pal/tiago_maps/config"/>

  <!-- Localization or Mapping state -->
  <node pkg="pal_navigation_sm" type="navigation.sh" name="navigation"
        args="tiago $(arg state) $(arg localization) $(arg mapping) $(arg map) $(arg octomap) $(arg multiple) $(arg robot_namespace)" output="screen"/>

  <!-- Navigation State Machine -->
  <include file="$(find tiago_2dnav)/launch/state_machine.launch">
    <arg name="state" value="$(arg state)"/>
    <arg name="public_sim" value="$(arg public_sim)"/>
    <arg if="$(arg multiple)" name="map_frame" value="/$(arg robot_namespace)/map"/>
    <arg if="$(arg multiple)" name="base_frame" value="/$(arg robot_namespace)/base_footprint"/>
  </include>

  <!-- Planning -->
  <include file="$(find tiago_2dnav)/launch/move_$(arg planner).launch">
    <arg name="global_planner" value="$(arg global_planner)"/>
    <arg name="local_planner"  value="$(arg local_planner)"/>
    <arg name="public_sim"     value="$(arg public_sim)"/>
    <arg name="rgbd_sensors"   value="$(arg rgbd_sensors)"/>
    <arg name="robot_namespace"      value="$(arg robot_namespace)"/>
    <arg name="multiple"       value="$(arg multiple)"/>
    <arg name="config_base_path" value="$(arg config_base_path)"/>
  </include>

  <!-- VO map server -->
  <group unless="$(arg public_sim)">
    <include file="$(find pal_vo_server)/launch/vo_server.launch">
      <arg name="fill_with_unknown" value="true"/>
      <arg name="vo_resolution" value="0.3"/>
    </include>
  </group>

  <!-- Robot Pose Publisher -->
  <include file="$(find robot_pose)/launch/robot_pose.launch">
    <arg name="robot_prefix"      value="$(arg robot_namespace)"/>
  </include>

  <!-- Laser filter (empty for public sim) -->
  <node name="laser_filter" pkg="laser_filters" type="scan_to_scan_filter_chain">
    <rosparam file="$(find tiago_laser_sensors)/config/$(arg laser_model)_filter.yaml" 
              command="load" 
              unless="$(eval arg('public_sim') or arg('multiple'))"/> 
    <remap from="scan"          to="scan_raw"/>
    <remap from="scan_filtered" to="scan"/>
  </node>

</launch>
