<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!--deprecated argument, you should specify the parameters below-->
  <!-- They are described in tiago.urdf.xacro -->
  <arg name="robot"  default="titanium"/>
  <arg name="arm"  default="$(eval {'iron': False}.get(arg('robot'), True))"/>
  <arg name="end_effector"  default="$(eval {'iron': 'false', 'steel': 'pal-gripper', 'titanium': 'pal-hey5'}.get(arg('robot'), 'pal-gripper'))"/>
  <arg name="ft_sensor"  default="$(eval {'titanium': 'schunk-ft'}.get(arg('robot'), 'false'))"/>
  <arg name="laser_model"  default="sick-571"/>
  <arg name="camera_model"  default="orbbec-astra"/>
  <arg name="world" default="small_office"/>
  <arg name="rviz"     default="true"/>
  <arg name="gzclient" default="true"/>
  <arg name="tuck_arm"  default="true"/>
  <arg name="recording" default="false"/>
  <arg name="extra_gazebo_args" default=""/>


  <include file="$(find tiago_2dnav_gazebo)/launch/tiago_mapping.launch">
      <arg name="arm" value="$(arg arm)"/>
      <arg name="end_effector" value="$(arg end_effector)"/>
      <arg name="ft_sensor" value="$(arg ft_sensor)"/>
      <arg name="laser_model" value="$(arg laser_model)"/>
      <arg name="camera_model" value="$(arg camera_model)"/>
      <arg name="global_planner" value="global_planner"/>
      <arg name="local_planner"  value="eband"/>
      <arg name="mapping"        value="gmapping"/>
      <arg name="world"          value="$(arg world)"/>
      <arg name="public_sim"     value="True"/>
      <arg name="rviz"           value="$(arg rviz)"/>
      <arg name="gzclient"       value="$(arg gzclient)"/>
      <arg name="tuck_arm"   value="$(arg tuck_arm)"/>
      <arg name="recording"  value="$(arg recording)"/>
      <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
    </include>

</launch>
