<launch>
  <rosparam command="load" file="$(find joint_state_controller)/joint_state_controller.yaml" />
  <rosparam command="load" file="$(find tiago_controller_configuration_gazebo)/config/joint_trajectory_controllers.yaml" />

  <!-- Controllers that come up started -->
  <node name="default_controllers_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="--timeout 120
              joint_state_controller
              torso_controller
              head_controller
              mobile_base_controller" />

  <!-- Point head action -->
  <group ns="head_controller">
    <node name="point_head_action" pkg="head_action" type="head_action" output="screen">
      <rosparam>
        pan_link:  head_1_link
        tilt_link: head_2_link
        success_angle_threshold: 0.01
      </rosparam>
    </node>
  </group>
</launch>
