<?xml version="1.0"?>
<model>
  <name>pringles_with_marker</name>
  <version>1.0</version>
  <description>
    Pringles can with an Aruco marker on its top
  </description>
  <author>
    <name>Jordi Pages</name>
    <email>jordi.pages@pal-robotics.com</email>
  </author>
  <sdf version='1.4'>pringles_with_marker.sdf</sdf>
</model>


