<?xml version="1.0"?>

<model>
  <name>Simple Loop</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Siegfried-A. Gevatter Pujals</name>
    <email>siegfried.gevatter@pal-robotics.com</email>
  </author>

  <description>
    A very simple building (1 floor walls, no ceiling) exhibiting loop closing
    behavior when mapping is run on it.

    This is similar to the environment from Figure 9 in the Multi-SRG paper
    from 2009 (Franchi et al.).
  </description>
</model>
