<?xml version="1.0"?>
<model>
  <name>bifrutas_tropical_can</name>
  <version>1.0</version>
  <description>
    Bifrutas tropical can
  </description>
  <author>
    <name>Bence Magyar</name>
    <email>bence.magyar@pal-robotics.com</email>
  </author>
  <sdf version='1.4'>bifrutas_tropical_can.sdf</sdf>
</model>


