<?xml version="1.0"?>

<model>
  <name>Butterfly</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Siegfried-A. Gevatter Pujals</name>
    <email>siegfried.gevatter@pal-robotics.com</email>
  </author>

  <description>
      A 3D model of walls created from a maze with the form of a butterfly. The
      original maze image has been found on Google Images.
  </description>
</model>
