<?xml version="1.0"?>
<model>
  <name>REEM upper body</name>
  <version>0.1.0</version>
  <author>
   <name>Adolfo Rodriguez Tsouroukdissian</name>
   <email>adolfo.rodriguez@pal-robotics.com</email>
  </author>
  <sdf>reem_upper_body.urdf</sdf>
  <description>
    REEM upper body robot model.
  </description>
</model>
