<?xml version="1.0"?>

<model>
  <name>Multi-Loops</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Siegfried-A. Gevatter Pujals</name>
    <email>siegfried.gevatter@pal-robotics.com</email>
  </author>

  <description>
    A simple environment of corridors with multiple loop closure opportunities.
  </description>
</model>
