<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot" default="custom"/>

  <!-- Load default controllers -->
  <include file="$(find tiago_controller_configuration_gazebo)/launch/$(arg robot)_controllers.launch"/>


  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0"/>
    <param name="tf_prefix" type="string" value=""/>
  </node>

  <!-- TF lookup -->
  <node pkg="tf_lookup" type="tf_lookup" name="tf_lookup" output="screen"/>

  <!-- Twist mux -->
  <include file="$(find tiago_bringup)/launch/twist_mux.launch"/>

  <!-- Dynamic footprint -->
  <include file="$(find tiago_bringup)/launch/dynamic_footprint.launch">
    <arg name="robot" value="$(arg robot)"/>
  </include>

  <!-- Speed limit -->
  <include file="$(find speed_limit)/launch/speed_limit.launch">
    <arg name="config"    value="$(find tiago_bringup)/config/speed_limit.yaml"/>
    <arg name="footprint" value="$(find pmb2_description)/urdf/base/footprint.yaml"/>
  </include>

  <!-- Joystick controller -->
  <include file="$(find tiago_bringup)/launch/joystick_teleop.launch"/>

</launch>
