<?xml version="1.0"?>

<model>
  <name>Medium Loop Closure</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Siegfried-A. Gevatter Pujals</name>
    <email>siegfried.gevatter@pal-robotics.com</email>
  </author>

  <description>
    A simple building (1 floor walls, no ceiling) exhibiting loop closing
    behavior. This environment has a corridor longer than the one in
    SimpleLoopClosure, as well as some adjacent rooms.
  </description>
</model>
