<?xml version="1.0"?>

<model>
 <name>citizen_extras_female_02</name>
 <version>0.1.0</version>
 <author>
  <name>Jordi Pages</name>
  <email>jordi.page@pal-robotics.com</email>
 </author>
 <sdf>model.sdf</sdf>
 <description>
    3D City People - Female 02 - iClone Citizen Extras downloaded from sketchup.google.com
 </description>
</model>
