<?xml version="1.0"?>
<model>
  <name>cereal_rocket_power</name>
  <version>0.1.0</version>
  <author>
   <name>Joan Guasch</name>
   <email>guasch5000@pal-robotics.com</email>
  </author>
  <sdf>cereal_rocket_power.sdf</sdf>
  <description>
    Rocket Power's cereal box
  </description>
</model>


